##########################################################
#                                                        #
# Gitignore for the Judgy Programming Competition Web    #
# Application                                            #
#                                                        #
# *We decided on a white listing apporach for this file* #
##########################################################

########################################
#                                      #
#          Root of file path           #
#                                      #
########################################

# Include the root of the project file
!/

# Exclude everything inside of project
/*

########################################
#                                      #
#           Nginx Directory            #
#                                      #
########################################
!nginx/

########################################
#                                      #
#   Main Django files and directories  #
#                                      #
########################################

!django_project/
django_project/*
!django_project/judgy/
!django_project/progcomp/
!django_project/manage.py
!django_project/docker-compose.languages.yml
!django_project/Dockerfile
!django_project/docker_setup.sh
!django_project/docker_delete.sh

########################################
#                                      #
#                 Misc.                #
#                                      #
########################################

# Files for server setup
!docker-compose.web.yml
!Dockerfile
!entrypoint.sh

# Requirements files
!requirements.in
!requirements.txt

# Other
**/__pycache__
**/migrations
!README.md
!.gitignore
!.env.example
