{% extends 'judgy/base.html' %}

{% block title %}{{ competition.name }}{% endblock %}

{% block style %}

<style>
  ::selection {
    color: {{ competition.color }};

  }

  .add-problems-btn {
    background-color: {{ competition.color }};
  }

  .new-problem-btn {
    background-color: {{ competition.color }};
}

</style>

{% endblock %}

{% block script %}

<script>
  $(() => {
    new QRCode($('#qrcode')[0], {
      text: `${window.location.origin}{% url 'judgy:competition_code' competition.code %}`,
      colorDark: '{{ competition.color }}',
      colorLight: '#00000000'
    });
    
   $('#delete-competition').on('show.bs.modal', event => {
      $('.modal-body .name').text('{{ competition.name }}');
      $('.modal-body .description').text('{{ competition.description }}');
      $('.modal-body').css('color', '{{ competition.color }}');
    });



      $("#new-problem").on("click", add_row);
  
      function add_row() {
          const rowCount = $('#problem-table tbody tr').not(':first').length + 1;
          let newRow = `<tr id="row-${rowCount}">
            <td>${rowCount}.</td>
              <td>
                {{ form.name }}
              </td>
              <td>
                {{ form.zip }}
              </td>
              <td>
                {{ form.input_files }}
              </td>
              <td>
                {{ form.judging_program }}
              </td>
               <td>
                  <button type="button" class="btn delete-btn" data-row="${rowCount}">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>

             </tr>`;
          $("#problem-table").append(newRow);  
      }

    
      $('#problem-table tbody').on('click', '.delete-btn', function() {
        const rowNumber = $(this).data('row'); 
        $(`#row-${rowNumber}`).remove();      
    });
    
  });



  function setup() {
    noCanvas();
    const update_progress_bar = () => {
      const start = new Date('{{ competition.start|date:'Y-m-d H:i:s' }}');
      const end = new Date('{{ competition.end|date:'Y-m-d H:i:s' }}');
      const now = new Date();

      $('.progress-bar').css('width', `${constrain(map(now, start, end, 0, 100), 0, 100)}%`);
    };
    update_progress_bar();
    setInterval(update_progress_bar, 1000);
  }
</script>

{% endblock %}

{% block main %}

<div class="bg-body-tertiary">
  <div class="mx-5 px-5">
    <div class="align-items-stretch d-flex">
      <div class="d-flex justify-content-start py-5 w-100">
        <div>
          <h1>{{ competition.name }}</h1>
          <div>{{ competition.description }}</div>
          <br>
          <div class="d-flex">
            <div class="me-5 pe-5">Start:<br>{{ competition.start|date:'m/d/Y, h:i A' }}</div>
            <div class="ms-5 ps-5">End:<br>{{ competition.end|date:'m/d/Y, h:i A' }}</div>
          </div>
          <br>
          <div class="d-flex">
            <div class="me-5 pe-5">Enroll Start:<br>{{ competition.enroll_start|date:'m/d/Y, h:i A' }}</div>
            <div class="ms-5 ps-5">Enroll End:<br>{{ competition.enroll_end|date:'m/d/Y, h:i A' }}</div>
          </div>
          <br>
          <div class="progress" role="progressbar">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 0%"></div>
          </div>
          <br>
          {% if user.is_superuser %}
            <button class="btn btn-warning me-1">EDIT</button>
            <button class="btn btn-danger ms-1" data-bs-toggle="modal" data-bs-target="#delete-competition">DELETE</button>
          {% else %}
            <button class="btn btn-success">ENROLL</button>
          {% endif %}
        </div>
      </div>
      <div class="d-flex justify-content-end py-5 w-100">
        <div>
          <div id="qrcode"></div>
          <br>
          <h2 class="text-center" style="color: {{ competition.color }};">CODE: {{ competition.code }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>

{% if user.is_superuser %}


  <div
  class='align-items-center d-flex justify-content-center p-5 text-center'
>
  <!-- <a class="btn problems-btn"  href="{% url 'judgy:competition_addproblems' code=competition.code %}">Add problems</a> -->

  <button class="btn add-problems-btn ms-1" data-bs-toggle="modal" data-bs-target="#add-problems">Add Problems</button>

</div>


{% endif %}


{% include 'judgy/includes/delete_competition.html' %}
{% include 'judgy/includes/competition_addproblems.html' %}

{% endblock %}
