{% extends 'judgy/base.html' %}

{% block title %}{{ competition.name }}{% endblock %}

{% block script %}

<script>
  $(() => {
    new QRCode(
      $('#qrcode')[0],
      `${window.location.origin}{% url 'judgy:competition_code' competition.code %}`
    );
  });
</script>

{% endblock %}

{% block main %}

<div class="bg-body-tertiary">
  <div class="mx-5 px-5">
    <div class="align-items-stretch d-flex">
      <div class="d-flex justify-content-start py-5 w-100">
        <div>
          <h1>{{ competition.name }}</h1>
          <div>{{ competition.description }}</div>
          <br>
          <div class="d-flex">
            <div class="me-5 pe-5">Start:<br>{{ competition.start }}</div>
            <div class="ms-5 ps-5">End:<br>{{ competition.end }}</div>
          </div>
          <br>
          <div class="d-flex">
            <div class="me-5 pe-5">Enroll Start:<br>{{ competition.enroll_start }}</div>
            <div class="ms-5 ps-5">Enroll End:<br>{{ competition.enroll_end }}</div>
          </div>
          <br>
          <br>
          <button class="btn btn-success">ENROLL</button>
        </div>
      </div>
      <div class="d-flex justify-content-end py-5 w-100">
        <div>
          <div id="qrcode"></div>
          <br>
          <h2 class="text-center">CODE: {{ competition.code }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>

{% if is_superuser %}

<div>
  <div
  class='align-items-center d-flex justify-content-center p-5 text-center'
>
  <form method='post' enctype="multipart/form-data">
    {% csrf_token %}

    <h2>Add Problems</h2>

    <table>
     <tr>
        <th>{{ form.name.label }}</th>
        <th>{{ form.zip.label }}</th>
        <th>{{ form.input_files.label }}</th>
        <th>{{ form.judging_program.label }}</th>
        <th></th>
     </tr>
     <tr>
      <td>
        {{ form.name }}
      </td>
      <td>
        {{ form.zip }}
      </td>
      <td>
        {{ form.input_files }}
      </td>
      <td>
        {{ form.judging_program }}
      </td>
      <td>
        <button class='btn btn-primary'>Add Problem</button>
      </td>
     </tr>
    </table>

  
  </form>
</div>

{% else %}9

<p>hello</p>

{% endif %}


{% endblock %}
