{% extends 'judgy/base.html' %}

{% block title %}Login{% endblock %}

{% block main %}

{% for errors in form.errors.values %}
  {% for error in errors %}
    <div
      class="alert alert-danger alert-dismissible fade fixed-top show text-center"
      role="alert"
    >
      {{ error }}
      <button class="btn btn-close" data-bs-dismiss="alert"></button>
    </div>
  {% endfor %}
{% endfor %}

<div class="align-items-center d-flex justify-content-center vh-100 vw-100">
  <div class="p-5 rounded text-center">
    <form method="post">
      {% csrf_token %}

      <h2>Log In</h2>

      <div class="my-3">
        <div class="form-floating">
          {{ form.email }}
          <label for="email">Email Address</label>
        </div>
      </div>

      <div class="my-3">
        <div class="form-floating">
          {{ form.password }}
          <label for="password">Password</label>
        </div>
      </div>

      <button class="btn btn-primary p-2 w-100">LOG IN</button>
    </form>
  </div>
</div>

{% endblock %}
