<div id="add-problems" class="modal fade">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Add Problems</h1>
        <button class="btn btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">

        <form method='post' enctype="multipart/form-data">
          {% csrf_token %}
                
          <table id="problem-table">
            <tbody>
                <tr>
                   <th></th>
                   <th>{{ form.name.label }}</th>
                   <th>{{ form.zip.label }}</th>
                   <th>{{ form.input_files.label }}</th>
                   <th>{{ form.judging_program.label }}</th>
                   <th>Delete Row</th>
                </tr>
                <tr id="row-1">
                  <td>1.</td>
                 <td>
                   {{ form.name }}
                 </td>
                 <td>
                   {{ form.zip }}
                 </td>
                 <td>
                   {{ form.input_files }}
                 </td>
                 <td>
                   {{ form.judging_program }}
                 </td>
                 <td>
                  <button class="btn">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
                </tr>

            </tbody>
        </table>
        
        <div class="mt-2">
            <button class="btn new-problem-btn" id="new-problem" type="button" style="width: 100%;">
                <i class="bi bi-plus"></i>
            </button>
        </div>
        
        
      </form>
      
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button class="btn btn-success" data-bs-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
