{% extends 'judgy/base.html' %}

{% block title %}{{ competition.name }} Admin Interface {% endblock %}

{% block script %}

<script>
$(async () => {

        const competitionCode = "{{ competition.code|escapejs }}";
        const teamName = "{{ team.name|escapejs }}";

        const member_scores_url = `/competition/${competitionCode}/team/${encodeURIComponent(teamName)}/members-scores`;


        const response = await fetch(member_scores_url);
        const member_scores = await response.json();


        $('#team-members').empty();

        let memberHTML = "";
        let scoresHTML = "";

        const scoresTable = `
          <table class="table">
            <thead> 
              <tr>
                <th scope="col">Submission #</th>
                <th scope="col">Problem #</th>
                <th scope="col">Problem</th>
                <th scope="col">Score Preference</th>
                <th scope="col">Score</th>
                <th scope="col">Download Source Code</th>
                <th scope="col">Input Score</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">

            </tbody>
          </table>
        `;

        $.each(member_scores.members, function(email, member) {
       
  
          let subjectiveProblemHtml = $(scoresTable).attr('id', 'subjective-table');
          let autoJudgedProblemHtml = $(scoresTable).attr('id', 'auto-judged-table');

          memberHTML = `
        
              <div class="container d-flex align-items-center justify-content-around mb-5">
                <i class="bi bi-person-circle" style="font-size: 4rem"></i>
                <h4 class="card-title">Name: ${member.first_name} ${member.last_name}</h4>
                <h4 class="card-title">Email: ${email}</h4>
              </div>

            `;
            
            $.each(member.problems, function(problemName, problemData)
            {
                $.each(problemData.submissions, function(i, submission)
                {

                  let inputScore = `
                    <div class="input-group mb-3">
                      <input class="form-control score-input" data-submission-id=${submission.submission_id} type="text" class="form-control" placeholder="Input Score" aria-label="Input Score" aria-describedby="button-addon2">
                      <button class="btn btn-success submit-score" type="button" id="button-addon2">Submit</button>
                    </div>
                  `

                  let atag = ""
                  
                  if(submission.subjective === true)
                  {
                 const competitionCode = "{{ competition.code|escapejs }}";
                  const teamName = "{{ team.name|escapejs }}";

                  const downloadUrl = `/competition/${competitionCode}/download/${encodeURIComponent(submission.problem_name)}/${encodeURIComponent(teamName)}/${encodeURIComponent(email)}/${encodeURIComponent(submission.submission_id)}/${encodeURIComponent(submission.submission_number)}/`;

                  atag = `<a href="${downloadUrl}">Download Submission</a>`;

                  }
                  else
                  {
                    atag = "";
                  }
                  
                  scoresHTML = `
                    <tr>
                      <td>${submission.submission_number}</td>
                      <td>${submission.problem_number}</td>
                      <td>${submission.problem_name}</td>
                      <td>${submission.score_preference === true ? ` <i class="bi bi-arrow-up"></i> Higher Score is Better` : `<i class="bi bi-arrow-down"></i> Lower Score is Better`}</td>
                      <td>${submission.score !== "" ? submission.score : "--"}</td>
                      <td>${atag}</td>
                      <td>${inputScore}</td>
                    </tr>
                  `;
  
                  if (submission.subjective === true)
                  {
                      subjectiveProblemHtml.find('tbody').append(scoresHTML);
                  }
                  else
                  {
                      autoJudgedProblemHtml.find('tbody').append(scoresHTML);
  
                  }

                });
            });

            $('#team-members').append(`
              <div class="card bg-body-tertiary">
                  <div class="card-body">
                      ${memberHTML}
                      <div>
                        <h4 class="text-center">Subjective Problems</h4>
                        ${subjectiveProblemHtml.prop('outerHTML')}
                      </div>
                      <div class="mt-3">
                        <h4 class="text-center">Auto Judged Problems</h4>
                        ${autoJudgedProblemHtml.prop('outerHTML')}
                      </div>
                  </div>
                </div>
              </div>
              <br>
            `);
                
        });


        $(".submit-score").on("click", function() {
            let inputGroup = $(this).closest(".input-group");
            let scoreInputField = inputGroup.find(".score-input");
            let submissionId = scoreInputField.data("submission-id");
            let newScore = scoreInputField.val();

            const updatedData = {
                score: newScore
            }
            
            const scoreInputUrl = `/score/${submissionId}/update`

            fetch(scoreInputUrl, {
              method: 'PUT',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'  
              },
              body: JSON.stringify(updatedData)
            })
            .then(response => {
              if (!response.ok) {
                  throw new Error(`HTTP error! status: ${response.status}`);
              }
              return response.json();
          })
          .then(data => {
              console.log('Item updated successfully:', data);
              location.reload(); 

          })
          .catch(error => {
              console.error('Error updating item:', error);
          });
            
        });



      }
    );
</script>

{% endblock %}

{% block main %}



<div class="container py-5">

  <div class="mb-5">
    <h1 class="text-center">Admin Interface for {{ team.name }}</h1>
  </div>

  <div class="mt-1">
    <h1 class="text-center">Members</h1>
  </div>
  <div class="row row-cols-1 g-4">
    <div id="team-members">
    </div>
  </div>
</div>

{% endblock %}