{% extends 'judgy/base.html' %}

{% block style %}

<style>
  ::selection {
    color: {{ competition.color }};
  }

</style>

{% endblock %}

{% block script %}

<script>
  $(async () => {
    new QRCode($('#qrcode')[0], {
      text: `${window.location.origin}{% url 'judgy:competition_code' competition.code %}`,
      colorDark: '{{ competition.color }}',
      colorLight: '#00000000'
    });

    const qrCodeImg = $('#qrcode').find("img")
    qrCodeImg.attr("alt", "{% url 'judgy:competition_code' competition.code %}")
    
    $('#delete-competition').on('show.bs.modal', event => {
      $('.modal-body .name').text('{{ competition.name|escapejs }}');
      $('.modal-body .description').text('{{ competition.description|escapejs }}');
      $('.modal-body').css('color', '{{ competition.color|escapejs }}');
    });
    

    $('#delete-competition .btn-danger').on('click', async () => {
      const response = await fetch("{% url 'judgy:competition_code' competition.code %}", {
        method: 'DELETE',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        }
      });
      if (response.ok) location.href = "{% url 'judgy:home' %}";
    });

    const enroll_start = new Date('{{ competition.enroll_start|date:'Y-m-d H:i:s' }}');
    const enroll_end = new Date('{{ competition.enroll_end|date:'Y-m-d H:i:s' }}');
    const now = new Date();
    if (!(enroll_start <= now && now < enroll_end)) {
      $('[data-bs-target="#enroll"]').remove();
      $('#enroll').closest('form').remove();
    }

    const response = await fetch("{% url 'judgy:competition_teams' competition.code %}");
    const teams = await response.json();

    $('#team-name').on('input', function () {
      const input = $(this).val().trim();
      const $teamList = $('.teams');
      $teamList.empty();

      if (input) {
        $teamList.addClass('show');
        const escapedInput = input.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
        const regex = new RegExp(escapedInput, 'i');

        for (const team of teams) {
          const teamName = team.name;

          if (regex.test(teamName)) {
            const $item = $(`
              <li>
                <div class="dropdown-item" data-team-name="${$('<div>').text(teamName).text()}">
                  ${$('<div>').text(teamName).html()}
                </div>
              </li>
            `);
            $teamList.append($item);
          }
        }

        $teamList.off('click', '.dropdown-item');
        $teamList.on('click', '.dropdown-item', function () {
          const teamName = $(this).data('team-name');
          $('#team-name').val(teamName);
          $teamList.removeClass('show');
        });
      } else {
        $teamList.removeClass('show');
      }
    });



    $('#leave-team .btn-danger').on('click', async () => {
      const response = await fetch("{% url 'judgy:team_leave' competition.code %}", {
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        }
      });
      if (response.ok) location.href = "{% url 'judgy:competition_code' competition.code %}";
    });

    '{% if team_invite_form %}'
      $('#invite-people .email').not(':first').hide().addClass('hidden');
      if ($('#invite-people .email').filter('.hidden').length == 0) {
        $('#invite-people .button').hide();
      }
      $('#invite-people .next').on('click', () => {
        $('#invite-people .email').filter('.hidden:first').show().removeClass('hidden');
        if ($('#invite-people .email').filter('.hidden').length == 0) {
          $('#invite-people .button').hide();
        }
      });
    '{% else %}'
      $('[data-bs-target="#invite-people"]').remove();
      $('#invite-people').closest('form').remove();
    '{% endif %}'

  
      // Update the action attribute in the edit competition modal 
      $(".edit-competition-btn").click(function() {
          let url = "{% url 'judgy:update_competition' competition.code %}"
          $("#updateCompForm").attr("action", url)
      })


      // Only display the edit button if the competition hasn't ended
      const end = new Date('{{ competition.end|date:'Y-m-d H:i:s' }}');
      if (end < now) {
        $("#edit-button").remove()
      } 



      
    });



  function setup() {
    noCanvas();
    let intervalID;
    const update_progress_bar = () => {
      const start = new Date('{{ competition.start|date:'Y-m-d H:i:s' }}');
      const end = new Date('{{ competition.end|date:'Y-m-d H:i:s' }}');
      const now = new Date();

      const progress = constrain(map(now, start, end, 0, 100), 0, 100);
      $('.progress-bar').css('width', `${progress}%`);

      if (progress == 100) clearInterval(intervalID);
    };
    update_progress_bar();
    intervalID = setInterval(update_progress_bar, 100);
  }
</script>

{% endblock %}

{% block main %}

<div class="bg-body-tertiary">
  <div class="mx-5 px-5">
    <div class="align-items-stretch d-flex gap-3">
      <div class="d-flex justify-content-start py-5 w-100">
        <div>
          <h1>
            <a class="text-decoration-none" href="{% url 'judgy:competition_code' competition.code %}">
              {{ competition.name }}
            </a>
          </h1>
          <div>{{ competition.description }}</div>
          <br>
          <div class="d-flex">
            <div class="me-5 pe-5">Start:<br>{{ competition.start|date:'m/d/Y, h:i A' }}</div>
            <div class="ms-5 ps-5">End:<br>{{ competition.end|date:'m/d/Y, h:i A' }}</div>
          </div>
          <br>
          <div class="d-flex">
            <div class="me-5 pe-5">Enroll Start:<br>{{ competition.enroll_start|date:'m/d/Y, h:i A' }}</div>
            <div class="ms-5 ps-5">Enroll End:<br>{{ competition.enroll_end|date:'m/d/Y, h:i A' }}</div>
          </div>
          <br>
          <div>Team Size Limit: {{ competition.team_size_limit }}</div>
          <br>
          <div class="progress" role="progressbar">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 0%"></div>
          </div>
          <br>
          {% if user.is_superuser %}
            <div class="d-flex gap-3">
              <button id="edit-button" class="edit-competition-btn btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit-competition">EDIT</button>
              <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-competition">DELETE</button>
              <a class="btn btn-primary" href="{% url 'judgy:admin_comp_interface' competition.code %}">MANAGE</a>
            </div>
          {% elif user.is_authenticated %}
            {% if user_team %}
              <div class="d-flex justify-content-between">
                <div class="me-5 pe-5">
                  <h3>
                    <a class="text-decoration-none" href="{% url 'judgy:team_name' competition.code user_team.name %}">
                      {{ user_team.name }}
                    </a>
                  </h3>
                </div>
                {% if enroll %}
                  <div class="d-flex gap-3 ms-5 ps-5">
                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#invite-people">INVITE</button>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#leave-team">LEAVE</button>
                  </div>
                {% endif %}
              </div>
            {% elif enroll %}
              <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#enroll">ENROLL</button>
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="d-flex justify-content-end py-5 w-100">
        <div class="d-flex flex-column align-items-center text-center">
          <h1>Share this Competition</h1>
          <a class="text-decoration-none" href="{% url 'judgy:competition_code' competition.code %}">
            <div id="qrcode"  data-alt="QR code linking to the competition page">
            </div>
          </a>
          <br>
          <h2 class="text-center">CODE: {{ competition.code }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>

{% block main_competition %}{% endblock %}

{% include 'judgy/includes/edit_competition.html' %}
{% include 'judgy/includes/delete_competition.html' %}
{% include 'judgy/includes/enroll_team.html' %}
{% include 'judgy/includes/leave_team.html' %}
{% include 'judgy/includes/invite_people.html' %}

{% endblock %}
