{% extends 'judgy/base_competition.html' %}

{% block title %}{{ competition.name }}{% endblock %}

{% block main_competition %}

<script>
  $(async () => {
    '{% if submission_form %}'
      $('#submission').on('show.bs.modal', event => {
        $('#submission .title').text(`${$(event.relatedTarget).data('number')}. ${$(event.relatedTarget).data('name')}`);
        $('#submission').closest('form').attr('action', "{% url 'judgy:submit' competition.code 'problem.name' %}".replace('problem.name', $(event.relatedTarget).data('name')));
      });
    '{% else %}'
      $('[data-bs-target="#submission"]').remove();$(event.relatedTarget).data('name')
      $('#submission').closest('form').remove();
    '{% endif %}'

    '{% if teams %}'
      const response = await fetch("{% url 'judgy:rankings' competition.code %}");
      const rankings = await response.json();

      
      $('#rankings').empty();
      for (const team of rankings) {
        const response = await fetch("{% url 'judgy:team_members' competition.code 'team.name' %}".replace('team.name', team.team_name))
        const members = await response.json()
        let membersHTML = ""

        for (const member of members) {
          membersHTML += `
            <div class="col">
              <div class="text-center">
                <i class="bi bi-person-circle" style="font-size: 4rem"></i>
                <h5>${member.first_name}</h5>
              </div>
            </div>
            `
        }
        $('#rankings').append(`
          <div
            class="card h-100 bg-body-tertiary"
          >
         
            <div class="card-body">
              <h4 class="card-title">Rank: #${team.rank}</h4>
              <h5 class="card-title">Team: <a class="text-decoration-none" href=${"{% url 'judgy:team_name' competition.code 'team.name' %}".replace('team.name', encodeURIComponent(team.team_name))}>
                ${team.team_name}
                </a>
              </h5>
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                ${membersHTML}

              </div>
            </div>
          </div>
        </div>
        `);
      }
    '{% endif %}'
  });
</script>

<div class="container py-5">
  {% if user.is_superuser %}
    <div class="pb-5 text-center">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#manage-problems">Manage Problems</button>
    </div>
  {% endif %}
  <h1 class="text-center">Problems</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    {% if problems %}
      {% for problem in problems %}
        <div class="col">
          <div
            class="card h-100 bg-body-tertiary"
          >
         
            <div class="card-body">
              <h5 class="card-title">Problem {{ problem.number }}: {{ problem.name }}</h5>
              {% comment %} Do we truncate or keep full desc {% endcomment %}
              <p class="card-text">{{ problem.description|truncatechars:100 }}</p> 
              {% if download %}
                  <a  href="{% url 'judgy:download' competition.code problem.name %}" class="d-block">
                    Download               
                  </a>
              {% endif %}
            <br>
              {% if upload %}
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#submission" data-number="{{ problem.number }}" data-name="{{ problem.name }}">
                     Upload
                    </button>
              {% endif %}
            </div>
            <div class="card-footer">
              {% if problem.score_preference %}
                <i class="bi bi-arrow-up"></i> Higher Score is Better
              {% else %}
                <i class="bi bi-arrow-down"></i> Lower Score is Better
              {% endif %}
              <br>

              {% if user_team %}
                    Team Best: {{ problem.team_best_score|default:"--" }}
                    <br>
                    Your Best: {{ problem.user_best_score|default:"--" }}
              {% endif %}

              <br>
              Competition Best: {{ problem.competition_best_score|default:"--" }}

            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="text-center">
        No Problems
      </div>
    {% endif %}
  </div>

  <h1 class="text-center">Rankings</h1>
  <div class="row row-cols-1 g-4">
    {% if teams %}
    <div id="rankings">
    </div>
          
      <div class="col">


         
    {% else %}
      <div class="text-center">
        No Teams
      </div>
    {% endif %}
  </div>
</div>



{% include 'judgy/includes/manage_problems.html' %}
{% include 'judgy/includes/submission.html' %}

{% endblock %}
