{% extends 'judgy/base.html' %}

{% block title %}Create Competition{% endblock %}

{% block script %}

<script>
  $(() => {
    $('#start, #end, #enroll-start, #enroll-end').attr('type', 'datetime-local');
    $('#color').attr('type', 'color');
  });

  function setup() {
    noCanvas();
    colorMode(HSB);
    $('#color').val(`#${hex(color(random(360) | 0, 100, 100).levels.slice(0, 3), 2).join('')}`);
  }
</script>

{% endblock %}

{% block main %}

{% if form.errors %}
  <div class="fixed-top text-center">
    {% for errors in form.errors.values %}
      {% for error in errors %}
        <div
          class='alert alert-danger alert-dismissible fade show'
          role='alert'
        >
          {{ error }}
          <button class='btn btn-close' data-bs-dismiss='alert'></button>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}

<div
  class='align-items-center d-flex justify-content-center p-5 text-center'
  style='min-height: calc(100vh - 7.5rem)'
>
  <form method='post'>
    {% csrf_token %}

    <h2>Create Competition</h2>

    <div class='my-3'>
      <div class='form-floating'>
        {{ form.name }}
        <label for='name'>Competition Name</label>
      </div>
    </div>

    <div class='my-3'>
      <div class='form-floating'>
        {{ form.description }}
        <label for='description'>Competition Description</label>
      </div>
    </div>

    <div class='my-3'>
      <div class='row'>
        <div class='col'>
          <div class='form-floating'>
            {{ form.start }}
            <label for='start'>Competition Start</label>
          </div>
        </div>

        <div class='col'>
          <div class='form-floating'>
            {{ form.end }}
            <label for='end'>Competition End</label>
          </div>
        </div>
      </div>
    </div>

    <div class='my-3'>
      <div class='row'>
        <div class='col'>
          <div class='form-floating'>
            {{ form.enroll_start }}
            <label for='enroll-start'>Enroll Start</label>
          </div>
        </div>

        <div class='col'>
          <div class='form-floating'>
            {{ form.enroll_end }}
            <label for='enroll-end'>Enroll End</label>
          </div>
        </div>
      </div>
    </div>

    <div class='my-3'>
      <div class='form-floating'>
        {{ form.color }}
        <label for='color'>Competition Color</label>
      </div>
    </div>

    <button class='btn btn-primary p-2 w-100'>CREATE COMPETITION</button>
  </form>
</div>

{% endblock %}
