{% extends 'judgy/base.html' %}

{% block title %}{{ competition.name }}{% endblock %}

{% block style %}

<style>
  ::selection {
    color: {{ competition.color }};
  }
</style>

{% endblock %}

{% block script %}

<script>
  $(() => {
    new QRCode($('#qrcode')[0], {
      text: `${window.location.origin}{% url 'judgy:competition_code' competition.code %}`,
      colorDark: '{{ competition.color }}',
      colorLight: '#00000000'
    });
    
   $('#delete-competition').on('show.bs.modal', event => {
      $('.modal-body .name').text('{{ competition.name }}');
      $('.modal-body .description').text('{{ competition.description }}');
      $('.modal-body').css('color', '{{ competition.color }}');
    });

    $('#delete-competition .btn-danger').on('click', async () => {
      const response = await fetch("{% url 'judgy:competition_code' competition.code %}", {
        method: 'DELETE',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        }
      });
      if (response.ok) location.href = "{% url 'judgy:home' %}";
    });

    const enroll_start = new Date('{{ competition.enroll_start|date:'Y-m-d H:i:s' }}');
    const enroll_end = new Date('{{ competition.enroll_end|date:'Y-m-d H:i:s' }}');
    const now = new Date();
    if (!(enroll_start <= now && now < enroll_end)) {
      $('[data-bs-target="#create-team"]').remove();
      $('#create-team').closest('form').remove();
    }

    $('#new-problem').on('click', () => {
      const row_count = $('#problem-table tbody tr').length + 1;
        $("#problem-table tbody").append(`
          <tr id="row-${row_count}">
            <td>${row_count}.</td>
            <td>{{ form.name }}</td>
            <td>{{ form.zip }}</td>
            <td>{{ form.input_files }}</td>
            <td>{{ form.judging_program }}</td>
            <td>
              <input type="hidden" name="row_number" value="${row_count}" />
              <button type="button" class="btn btn-danger delete-btn" data-row="${row_count}">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        `);
    });
    
    $(document).on('click', '.delete-btn', function () {
      const row_number = $(this).data('row');
      const confirmed = confirm(`Are you sure you want to delete row ${row_number}?`);
      if (confirmed) $(`#row-${row_number}`).remove();
    });
  });

  function setup() {
    noCanvas();
    let intervalID;
    const update_progress_bar = () => {
      const start = new Date('{{ competition.start|date:'Y-m-d H:i:s' }}');
      const end = new Date('{{ competition.end|date:'Y-m-d H:i:s' }}');
      const now = new Date();

      const progress = constrain(map(now, start, end, 0, 100), 0, 100);
      $('.progress-bar').css('width', `${progress}%`);

      if (progress == 100) clearInterval(intervalID);
    };
    update_progress_bar();
    intervalID = setInterval(update_progress_bar, 100);
  }
</script>

{% endblock %}

{% block main %}

{% include 'judgy/includes/competition_header.html' %}

<div class="container py-5">
  <ul class="nav nav-tabs d-flex justify-content-center" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        id="problems-tab"
        class="nav-link active"
        style="width: 8rem"
        data-bs-target="#problems-tab-pane"
        data-bs-toggle="tab"
        role="tab"
        type="button"
      >
        Problems
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        id="rankings-tab"
        class="nav-link"
        style="width: 8rem"
        data-bs-target="#rankings-tab-pane"
        data-bs-toggle="tab"
        role="tab"
        type="button"
      >
        Rankings
      </button>
    </li>
  </ul>
  <div class="py-5 tab-content">
    <div id="problems-tab-pane" class="tab-pane fade show active" role="tabpanel">
    </div>
    <div id="rankings-tab-pane" class="tab-pane fade" role="tabpanel">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Team</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for team in teams %}
              <tr>
                <th scope="row">1</th>
                <td>
                  <a class="text-decoration-none" href="{% url 'judgy:team_name' competition.code team.name %}">
                    {{ team.name }}
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% if user.is_superuser %}
  <div class="align-items-center d-flex justify-content-center p-5 text-center">
    <button
      class="btn add-problems-btn ms-1"
      data-bs-toggle="modal"
      data-bs-target="#add-problems"
    >
      Add Problems
    </button>
  </div>
{% endif %}

{% include 'judgy/includes/delete_competition.html' %}
{% include 'judgy/includes/create_team.html' %}
{% include 'judgy/includes/add_problems.html' %}

{% endblock %}
