{% extends 'judgy/base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block main %}

{% for errors in form.errors.values %}
  {% for error in errors %}
    <div
      class="alert alert-danger alert-dismissible fade fixed-top show text-center"
      role="alert"
    >
      {{ error }}
      <button class="btn btn-close" data-bs-dismiss="alert"></button>
    </div>
  {% endfor %}
{% endfor %}

<div
  class="align-items-center d-flex justify-content-center text-center"
  style="height: calc(100vh - 7.5rem)"
>
  <form method="post">
    {% csrf_token %}

    <h2>Forgot Password</h2>

    <div class="my-3">
      <div class="form-floating">
        {{ form.email }}
        <label for="email">Email Address</label>
      </div>
    </div>

    <button class="btn btn-primary p-2 w-100">Send Reset Password Link</button>
  </form>
</div>

{% endblock %}
