{% extends 'judgy/base.html' %}

{% block style %}

<style>

  .vl {
    border-left: 2px solid gray;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .index-container .btn {
    width: 200px;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
  }

  .account-buttons {
    position: absolute;
    right: 55%; 
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  
  .competition-button {
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
  }
  
  
</style>

{% endblock %}

{% block script %}

<script>


</script>

{% endblock %}

{% block main %}

<div class="index-container">
  <div class="vl"></div>
  
  <div class="account-buttons">
    <a href="{% url 'judgy:register' %}" class="btn btn-primary">Create Account</a>
    <a href="{% url 'judgy:login' %}" class="btn btn-primary">Login</a>
  </div>

  <div class="competition-button">
    <a href="{% url 'competition:see_competitions' %}" class="btn btn-primary">View Competitions</a>
  </div>
</div>




{% endblock %}
