{% extends 'judgy/base_competition.html' %}

{% block title %}{{ competition.name }} | {{ team.name }}{% endblock %}

{% block main_competition %}

<div class="mx-5 px-5">
  <div class="py-5">
    <h1 class="text-center">{{ team.name }}</h1>
    <div class="row g-4">
      {% for member in team.members.all %}
        <div class="col">
          <div class="text-center">
            <i class="bi bi-person" style="font-size: 8rem"></i>
            <h5>{{ member.first_name }} {{ member.last_name }}</h5>
            <p>{{ member.email }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
