<div class="bg-body-tertiary">
  <div class="mx-5 px-5">
    <div class="align-items-stretch d-flex">
      <div class="d-flex justify-content-start py-5 w-100">
        <div>
          <h1>
            <a class="text-decoration-none" href="{% url 'judgy:competition_code' competition.code %}">
              {{ competition.name }}
            </a>
          </h1>
          <div>{{ competition.description }}</div>
          <br>
          <div class="d-flex">
            <div class="me-5 pe-5">Start:<br>{{ competition.start|date:'m/d/Y, h:i A' }}</div>
            <div class="ms-5 ps-5">End:<br>{{ competition.end|date:'m/d/Y, h:i A' }}</div>
          </div>
          <br>
          <div class="d-flex">
            <div class="me-5 pe-5">Enroll Start:<br>{{ competition.enroll_start|date:'m/d/Y, h:i A' }}</div>
            <div class="ms-5 ps-5">Enroll End:<br>{{ competition.enroll_end|date:'m/d/Y, h:i A' }}</div>
          </div>
          <br>
          <div class="progress" role="progressbar">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" style="width: 0%"></div>
          </div>
          <br>
          {% if user.is_superuser %}
            <button class="btn btn-warning me-1">EDIT</button>
            <button class="btn btn-danger ms-1" data-bs-toggle="modal" data-bs-target="#delete-competition">DELETE</button>
          {% elif user.is_authenticated %}
            {% if user_team %}
              <h3>
                <a class="text-decoration-none" href="{% url 'judgy:team_name' competition.code user_team.name %}">
                  {{ user_team.name }}
                </a>
              </h3>
            {% else %}
              <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#create-team">ENROLL</button>
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="d-flex justify-content-end py-5 w-100">
        <div>
          <div id="qrcode"></div>
          <br>
          <h2 class="text-center" style="color: {{ competition.color }};">CODE: {{ competition.code }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
