<form action="{% url 'judgy:team_enroll' competition.code %}" method="post">
  {% csrf_token %}
  <div id="enroll" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Create or Join a Team</h1>
          <button class="btn btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body" style="height: 16rem; overflow: clip auto;">
          <div class="dropdown">
            <div class='form-floating'>
              {{ team_enroll_form.name }}
              <label for='team-name'>Team Name</label>
            </div>
            <ul class="teams dropdown-menu w-100"></ul>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
          <button class="btn btn-success" data-bs-dismiss="modal" type="submit">Enroll</button>
        </div>
      </div>
    </div>
  </div>
</form>
